:root{

--text: #120116;
--background: #fef9ff;
--primary: #d620f6;
--secondary: #8af96d;
--accent: #3ef8c7;

--primary-light: oklch(from var(--primary) l c h / 0.5 );
}
.encabezado{

  background-color: var(--primary);
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0.2,0.2,0.2,0.3);

}

.btn{

  background-color: var(--secondary);
  color: white;
  border-radius: 5px;
  padding: 5%;
  border: none;
  cursor: pointer; /*sirve para cambiar el cursor del mouse al icono de mano cuando pasás por arriba*/
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /*agrega sombras*/
}

.popup{

  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  display: grid;
  place-content: center;
}
 .popup_container{
  background-color: var(--accent);
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
 }


