* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

--text: #120116;
--background: #fef9ff;
--primary: #d620f6;
--secondary: #8af96d;
--accent: #3ef8c7;

--primary-light: oklch(from var(--primary) l c h / 0.5 );

--padding : 1rem;

}
.header{

  background-color: var(--primary);
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0.2,0.2,0.2,0.3);
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  gap: 1rem

}

.header__title{

  font-size: 2rem;
  font-weight: bold; /*pone el texto en negrita*/
  color:#fef9ff;

}

.header__nav{

  display: flex;
  gap: var(--padding);
}

.nav__link{

  text-decoration: none; /*saca lo subrayado*/
  color: #fef9ff;
}

.nav__link.active{
  color: var(--text)
}

.btn{

  background-color: var(--secondary);
  color: white;
  border-radius: 5px;
  padding: 5%;
  border: none;
  cursor: pointer; /*sirve para cambiar el cursor del mouse al icono de mano cuando pasás por arriba*/
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /*agrega sombras*/
}

.popup{

  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  display: grid;
  place-content: center;
}
 .popup_container{
  background-color: var(--accent);
  padding: var(--padding);
  border-radius: 5px;
  font-size: 1.5rem;
 }

.main{
  padding: var(--padding);
}

.footer{
  padding: var(--padding)
}
.h2{
  display: flex;
  justify-content: center;
}
.footer{
  display: flex;
  justify-content: center;
}

